.history_table {
  width: 100%;
  margin-inline: auto;
  height: min-content;
}

.history_page {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.filter {
  margin-right: 10px;
  align-items: center;
  display: flex;
}

.label {
  min-width: 100px;
}

.filter-button {
  min-width: 200px;
}
