.exp_page .input_element {
  display: flex;
  gap: 20px;
}

.exp_page .alpenist_item {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: #868686;
}
